extends layout.jade

block content             

    each item in bully
        div.row
                div.two.columns                
                    a(href='/note/view/' + item.id)
                        = item.id
                div.four.columns
                    a(href='/note/view/' + item.id)
                        = item.profile_owner_id
                          

   